body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  color: #333;
  padding: 0;
  margin: 0;
  display: flex; /* Añadido para centrar el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100vh; /* Asegura que el cuerpo ocupa toda la altura de la pantalla */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-logo {
  margin-top: -15rem;
  width: 30rem;
}

.app-title {
  margin-top: -7rem;
  color: #007bff;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-input {
  margin-bottom: 20px; /* Esto separa la barra de entrada de la fecha del botón */
}

.calculate-button {
}

.result-text {
}
