body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #fff8dc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
#app {
  background-color: #fff8dc;
  display: inline-block;
  padding: 80px;
  padding-top: 0;
  border-radius: 20px;
  text-align: center;
}
#logo {
  width: 400px; /* Aumenta el tamaño del logo */
}
#content {
  margin-top: -115px; /* Reduce el espacio entre el logo y el contenido */
}
#result {
  margin-top: 20px;
}
input[type="date"] {
  border-radius: 5px; /* Añade un borde redondeado */
  border: none; /* Elimina el borde predeterminado */
}
button {
  background-color: #f4a460; /* Cambia este color al que prefieras */
  border-radius: 5px; /* Añade un borde redondeado */
  border: none; /* Elimina el borde predeterminado */
  cursor: pointer;
}
button {
  padding: 10px 20px; /* Añade algo de relleno al botón */
}
button:hover {
  background-color: #f4a460; /* Cambia el color de fondo del botón cuando se pasa el ratón por encima */
}
